* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#header {
  height: 10vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.header-title {
  background-color: black;
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(5px, 5vw, 35px);
  text-transform: uppercase;
  text-shadow: 2px 2px 3px hsl(7, 80%, 72%);
}
.header-nav {
  background-color: #03a9f4;
  grid-column: 5/7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: block;
  font-size: clamp(5px, 3.5vw, 25px);
  text-transform: uppercase;
  color: white;
}

.main {
  height: 90vh;
  background-color: #063d52;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 10vh);
}

.telephone {
  grid-column: 1/7;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  grid-column: 1/7;
  grid-row: 4/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  grid-column: 1/7;
  grid-row: 7/10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textone {
  font-size: clamp(5px, 3vw, 23px);
  color: white;
  margin-bottom: 1%;
  text-transform: uppercase;
}
.texttwo {
  font-size: clamp(5px, 3.2vw, 18px);
  color: white;
}

.mediawrapper {
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mediawrapper a {
  display: block;
  margin: 5%;
}
.mediawrapper a i {
  color: white;
  font-size: clamp(5px, 7vw, 50px);
}
