* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#header {
  height: 10vh;
  background-color: lightgrey;
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.header-title {
  background-color: #2196f3a8;
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.5rem + 0.5vw);
  text-transform: uppercase;
  text-shadow: 2px 2px 3px hsl(7, 80%, 72%);
}
.header-nav {
  background-color: #03a9f4;
  grid-column: 5/7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
display: block;
  text-transform: uppercase;
  color: white;
  font-size: calc(0.8rem + 0.7vw);
}

.nav-links :hover {
  font-size: calc(1rem + 1.5vw);
  color: tomato;
}

/* body starts here */
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(10vh, auto);
}

.grid-item {
  background-color: lightcoral;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;
}

.gia {
  display: block;
  font-size: calc(0.8rem + 0.8vw);
}
