* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* end of reset  */
#header {
  height: 10vh;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.header-title {
  background-color: yellow;
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.5rem + 0.6vw);
  text-transform: capitalize;
}

#burger {
  grid-column: 5/7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-nav {
  background-color: chartreuse;
  position: absolute;
  top: 10vh;
  height: 60vh;
  width: 0vw;
  transition: width 500ms ease-in-out;
  overflow: hidden;
}
.navlinks {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navlinks li {
  text-decoration: none;
  list-style: none;
}
.navlinks li a {
  text-decoration: none;
  font-size: calc(0.8rem + 0.9vw);
  text-transform: capitalize;
  color: black;
}

.active {
  width: 100vw;
}

/* media quries for tablets */
@media screen and (max-width: 700px) {
}
/* media queries for phones */
@media screen and (max-width: 400px) {
}
