@media screen and (max-width: 780px) {
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  /* custom styles */
  .bgline {
    width: 25%;
    height: 7%;
    margin: 1.5%;
    background-color: #effeff;
  }

  /* custom styles */
  /* end of reset  */
  #header {
    height: 10vh;
    background-color: lightgrey;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .header-title {
    background-color: black;
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.5rem + 0.6vw);
    text-transform: uppercase;
    text-shadow: 2px 2px 3px hsl(7, 80%, 72%);
  }

  #burger {
    grid-column: 5/7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #03a9f4;
    grid-column: 5/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #burger:hover {
    font-size: calc(1rem + 1vw);
  }

  .header-nav {
    background: rgb(0 0 0 / 80%);
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 0vw;
    transition: width 500ms ease-in-out;
    overflow: hidden;
    z-index: 5;
  }
  .navlinks {
    padding: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navlinks li {
    padding: 10%;
  }
  .navlinks li a {
    font-size: calc(0.9rem + 0.8vw);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }
  .navlinks li a:hover {
    font-size: calc(1rem + 1.5vw);
  }

  .active {
    width: 100vw;
  }

  /* end of header section */
  .main {
    position: relative;
    height: 90vh;
    background-image: url("./assets/five.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .maincontent {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    position: absolute;
    top: 0;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
  }
  .tagline {
    color: black;
    font-size: calc(1rem + 1vw);
    text-transform: capitalize;
  }
  .maincontent p {
    color: #0000007d;
    font-size: calc(0.8rem + 1.5vw);
    text-transform: lowercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ffffffa6;
    font-size: calc(0.4rem + 0.5vw);
    text-transform: capitalize;
    font-family: cursive;
    margin: 3px;
  }
}
/* media quries for laptops */
